dataclasses
ipython
filterpy
h5py
ruamel.yaml>=0.15.0
intel-openmp
imgaug==0.4.0
jupyter-book>=0.7.0b
numba
matplotlib
networkx
numpy
pandas
patsy
pyyaml
setuptools
scikits.image>=0.17,<=0.18.1
scikit-learn
scipy>=1.4
six
statsmodels
tensorflow>=2.0
pytables<=3.6.1
tqdm
Pillow>=7.1
